appdirs==1.4.4
autopep8==1.5.7
certifi==2021.5.30
chardet==4.0.0
distlib==0.3.2
filelock==3.0.12
idna==2.10
parse-torrent-title==2.3
pycodestyle==2.7.0
python-dotenv==0.17.1
python-magic==0.4.24
requests==2.25.1
six==1.16.0
toml==0.10.2
urllib3==1.26.5
virtualenv==20.4.7
